<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <style>
      .h1_new{
      font-size: 250%;
      }
      .p_new {
      font-size: 150%;
      }
      .li_new {
         width:134px;
         float:left;
         border-right:1px solid #e0e0e0;
         height:40px
      }
      .downloads li + li {
        border-right:none;
        width:135px;
      }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="h_new">{{ site.title | default: site.github.repository_name }}</a></h1>

        <p class="p_new">{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li class="li_new"><a href="https://github.com/caterinaLacerra/CSI/raw/master/_download/csi_data.zip">Download <strong>ZIP File</strong></a></li>

          <li class="li_new"><a href="{{ site.github.repository_url }}">Code On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
